<div class='main'>
    <form id='newfileform' class='ng-pristine ng-valid' ng-submit="join()">
        <div id='form'>
            <div>User Name:</div>
            <input class="input-lg form-control ng-pristine ng-valid" maxlength="20" ng-model="name" type="text"></input>
            <!-- <div>Password:</div> -->
            <!-- <input class="input-lg form-control ng-pristine ng-valid" maxlength="20" ng-model="password" type="text"></input> -->
        </div>
        <input type="submit" value="Log In">
    </form>
</div>